* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

/* https://cssgradient.io */
body{
    background: linear-gradient(90deg, 
        rgba(9,9,121,1) 0%,
        rgba(7,61,156,1) 31%,
        rgba(88,5,185,1) 67%,
        rgba(79,3,214,1) 85%,
        rgba(87,0,255,1) 100%);
}