/* Pour utiliser general.css quand ce fichier est utilisé*/
@import url(general.css);

.titre-header {
  h1 {
    color: white;
    text-shadow: 0 3px 3px rgb(208, 38, 255), -2px -2px 4px rgb(22, 0, 39);
  } 
}

.container {
  width: 100%;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-text {
  background: #D7D0FF;
  padding: 16px;
  border: 16px solid #ECF6FF;
  margin: 10px;
}

.flex-container-fixing {
  margin: 10px;
  align-items: none;
  flex: 0 50%;
}

p {
  font-family: "ProFontWindowsRegular";
  font-size: 1.2em;
  text-align: justify;
  /* text-justify: inter-word; PAS SUR SI ÇA FAIT UN DIFFÉRENCE*/
  text-justify: inter-word;
  margin: 10px;
}

.container-image-1 {
  padding: 16px;
  background-color: #ECF6FF;
  flex: 2;
}

.container-image-2 {
  padding: 16px;
  background-color: #ECF6FF;;
  align-items: stretch;
  margin: 10px 0 10px 0;
}

.image1 {
  height: 100%;
  border: 4px solid #4C3C9C;
  width: 100%;
  transition: transform 2s ease-out; /* Animation */
}

.image2 {
  height: 100%;
  border: 4px solid #4C3C9C;
  width: 100%;
  transition: transform 2s ease-out; /* Animation */
}

.image1:hover  {
  transform: scale(0.9) rotate(0.01turn);
}
.image2:hover {
  transform: scale(0.9) rotate(-0.004turn);
}

.creeper-image {
  width: 5%;
}