/* Pour utiliser general.css quand ce fichier est utilisé*/
@import url(general.css);

h1 {
  font-family: "MinecraftFontBold";
  font-size: 2.5em;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0;
}

p {
  font-family: "ProFontWindowsRegular";
  font-size: 1.2em;
  text-align: justify;
  /* text-justify: inter-word; PAS SUR SI ÇA FAIT UN DIFFÉRENCE*/
  text-justify: inter-word;
  margin: 10px;
}
.container-text {
  background: rgba(175, 159, 255, 0.89);
  border: 5px solid black;
  width: 48%;
  /* width   dépends de comment placé */
  /* Top Right Bottom Left */
  margin: 10px;
}

.container-image1 {
  border: 5px solid rgb(0, 0, 0);
  margin: 0px 10px 0px 10px;
  transition: transform 2s ease-out; /* Animation */
}
.container-image2 {
  border: 5px solid rgb(0, 0, 0);
  width: 48%;
  float: right;
  margin: 10px;
  transition: transform 2s ease-out; /* Animation */
}

.container-image1:hover  {
  transform: scale(0.9) rotate(0.01turn);
}
.container-image2:hover {
  transform: scale(0.9) rotate(-0.004turn);
}

.creeper-image {
  width: 5%;
}