@import url(general.css);

body {
    background: url(../images/Crying-Obsidian-Block.png);
    background-size: 5%;
    background-attachment: local;
}

.container {
    margin: 0 auto;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;

    background-image: url("../images/Bedrock-Block.png");
    background-attachment: fixed;
    background-repeat: 50%;

    font-family: "MinecraftFontRegular";
    font-size: 1.1em;
    color:rgb(255, 255, 255);
    text-shadow: -2px -2px 3px black, 2px 2px 3px rgb(41, 0, 124);
    font-weight: bold;

    border: none;
    box-shadow: 0px 0px 10px rgb(255, 152, 179);
    padding: 16px;
}

fieldset {
    background-color: rgba(254, 177, 208, 0.271);
    border: none;
    box-shadow: 0px 0px 8px #44001e;
    margin: 2px;
    padding: 8px;
}

/* EMAIL LABEL AND REASON LABEL */
#emailLabel, #reasonLabel {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    #reasoning {
        flex-grow: 100;
    }
}

/* TEXT AREA (BIG SPACE) */
#textAreaLabel {
    textarea {
        margin: 10px 10px;
        width: calc(100% - 20px);
        height: 20em;
        resize: none;
    }
}

/* Toutes les options en communs */
input[type="text"], select, textarea, input[type="submit"] {
    flex-grow: 1;
    margin: auto 10px;
    padding: 10px;
    font-family: "MinecraftFontRegular";
    font-size: 0.8em;
    border: 0;
    background-color: #f6f6f6e6;
    box-shadow: 0px 0px 12px black;
}

input[type="text"]:hover, select:hover, textarea:hover {
    background-color: rgba(255, 255, 255, 0.978);
}

/* Black outline */
input[type="text"]:focus, select:focus, textarea:focus, input[type="submit"]:focus {
    outline: 4px solid black;
}

/* SUBMIT BUTTON MAINLY */
input[type="submit"] {
    margin: 15px 10px 10px;
    padding: 30px;
    width: calc(100% - 20px);
    background-color: #2C1C61;
    color: rgb(255, 255, 255);
    border: 0;
    transition: transform 1s; /* Animation */
}

input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.01);
    box-shadow: rgb(255, 228, 76) 0px 0px 60px 10px;
}


/* POUR LE FORM EN JAVASCRIPT */
.placeholder {
    color: rgb(179, 176, 193);
    font-weight: none;
}

.placeholderFocus {
    color: black;
}

.placeholder:hover {
    color: rgb(68, 0, 255);
}

.erreur, .invalide, .valide {
    padding: 10px;
}

.erreur {
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 8px rgb(38, 0, 0), -1px -1px 0px rgb(38, 0, 0), 1px 1px 0px black;
    width: auto;
}

.invalide {
    border: 2px solid #ff0000 !important;
    background-color: #ffffff !important;
}
.valide {
    border: 2px solid #00ff00 !important;
    background-color: #ffffff !important;
}

.label {
    color: #ff0000;
}
.labelNice {
    color: #00ff00;
}

.selectorAutreNo {
    display: none;
}

.selectorAutreYes {
    display: block;
}

/* interresting
@media screen and (max-width:500px) {
    .container {
        width: 100%;
    }
} */