@import url(general.css);

body {
    background: url(../images/Crying-Obsidian-Block.png);
    background-size: 5%;
    background-attachment: local;
}

h1 {
    font-family: "MinecraftFontBold";
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 10px;
}

form {
    padding: 10px;
    font-family: "MinecraftFontRegular";
    font-size: 1.1em;
    background: linear-gradient(2deg, rgba(114, 104, 189, 0.932), rgb(192, 164, 226));
    color:rgb(0, 0, 0);
    font-weight: bold;
    border: 5px solid rgb(0, 0, 0);
}

fieldset {
    border: 4px solid rgb(0, 0, 0);
    margin: 2px;
}

.container {
    margin: 0 auto;
    width: 60%;
}

input[type="text"], input[type="password"], input[type="submit"] {
    font-family: "MinecraftFontRegular";
    font-size: 0.8em;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    background-color: #ffffffbd;
}

input[type="text"]:hover, input[type="password"]:hover { /* submit removed */
    background-color: rgb(255, 255, 255);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus {
    outline: 4px solid black;
}

.input-container {
    text-align: center;
    margin: 1em;
}

.pseudo {
    background: url("../images/user.png");
}
.password {
    background: url("../images/password.png");
}
.pseudo, .password {
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 35px;
}


input[type="submit"] {
    padding: 30px;
    width: 40%;
    background-color: rgb(45, 0, 88);
    color: rgb(255, 255, 255);
    border: 0;
    transition: transform 1s; /* Animation */
}

input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.05);
    box-shadow: rgb(255, 224, 51) 0px 30px 90px 20px;
}


/* interresting */
@media screen and (max-width:500px) {
    .container {
        width: 100%;
    }
}