/* css reset (IDK) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM FONTS */
@font-face {
    font-family: "MinecraftFontRegular";
    src: url("../fonts/4197-font.ttf");
}

@font-face {
    font-family: "MinecraftFontBold";
    src: url("../fonts/3_MinecraftBold1.otf");
}

@font-face {
    font-family: "ProFontWindowsRegular";
    src: url("../fonts/Profontwindows-axBMx.ttf");
}

body {
    background: url(../images/Amethyst-Block.png);
    background-size: 5%;
    background-attachment: local;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    font-family: "MinecraftFontRegular", sans-serif; /* la font-family était dans - body { - */
    font-size: 0.8em;
}

nav ul {
    list-style-type: none; /* ENLEVER PUCES */
}

nav li {
    float: left;
    width: 14.28571%;
    position: static;
    background-color: rgba(44, 28, 97, 0.884);
    text-align: center;
}

nav li:hover {
    background-color: rgba(203, 220, 255, 0.685);
}

nav li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color:rgb(193, 212, 255);
    /* font-weight: 10; */
    border: 5px solid rgba(36, 19, 90, 0.229);
}

nav li a:hover {
    color: rgb(44, 28, 97);
    /* background-color: rgba(214, 243, 255, 0.682);  IDK IF IT IS NECESSAIRY, BUT IT DOES SOMETHING!!!!*/
}

/* C'est pour afficher la séléction de la page sur la barre */
nav li a.actif {
    color:#190044;
    background-color: rgba(179, 175, 253, 0.773);
    border: 5px solid rgba(179, 175, 253, 0.284); /* nav li a.info-border */
}

nav li a.actif:hover {
    color: rgb(250, 246, 255);
    background-color: rgba(79, 17, 149, 0.505);
    border: 5px solid rgba(79, 17, 149, 0.329);
}

/* C'est pour les sous-info quand on a sélectionné une page sous-info (border) */
.info-border {
    border: 5px solid rgba(179, 175, 253, 0.773);
}

/* sous-menu quand rien se passeeeee */
nav li ul{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
}

nav ul li:hover ul{
    display: block;
}    

nav ul li:hover ul li{
    float: none;
}

/* pour faire garder le texte du bouton Informations */
nav ul li:hover > a.text-color {
    color: rgb(44, 28, 97);
}

/* image header */
.header{
    /* couleur spécifique (dépendant l'image header) */
    border-bottom: 4px solid rgb(11, 7, 17);
    width: 100%; /* pour prendre tout l'écran en largeur*/
}

.titre-header {
  background: rgba(201, 190, 255, 0.863);
  border: 4px solid black;
  padding: 12px;
  width: 40%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

i {
    font-size: 1.3em;
    margin-right: 5px;
}

/* FOOTER (BAS DE PAGE COPYRIGHT */

.container {
    height: 150vh;
}


footer {
    background-color: rgb(27, 11, 52);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    position: relative;
  }
  
  .copyright {
    position: absolute; /* parent doit être en relative quand absolute */
    top: 50px;
    left: 50px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .social-icons {
    text-align: end;
  }
  
  /* icons */
  .social-icons li {
    position: relative;
    right: 30px;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    font-size: 24px;
    list-style-type: none;
    border-radius: 100%;

    transition: transform 2s ease-in-out;
    animation-duration: 5s;
  }
  
  @keyframes slideintest {
      0% {
        transform: rotate(0turn) scale(0.0001, 1) skew(180deg);
      }
  
      50% {
        transform: rotate(2turn);
      }
  
      100% {
        transform: rotate(1, 0.0001); 
      }
    }
  
  .social-icons li:hover {
    animation-name: slideintest;
    
    box-shadow: 0 10px 10px rgb(243, 129, 129);
  }
  
  .social-icons li a {
    display: block;
    color: #fff;
    padding: 17px;
    width: 100%;
  }
  
  .social-icons li:nth-child(1) {
    background-color: #7289DA;
  }
  
  .social-icons li:nth-child(2) {
    background-color: #171515;
  }
  
  .social-icons li:nth-child(3) {
    background-color: #FF0000;
  }
  
  .social-icons li:nth-child(4) {
    background-color: #fff;
    a {
      color: #f86434;
    }
  }
  
  .social-icons li:nth-child(5) {
    background-color: #FF4500;
  }