@import url(general.css);

.container {
    display: flex;
    flex-direction: column;
}

/* Regarder le général pour le titre header de base */
.titre-header {
    text-shadow: 0 3px 3px rgb(208, 38, 255), -2px -2px 4px rgb(22, 0, 39);

    border: 6px solid #f1e6ff;

    width: calc(100% - 32px);
    margin: 16px;
    padding: 16px;
    text-align: left;
    padding-left: 3em;
    box-shadow: -1px -1px 3px rgb(187, 0, 255), 2px 2px 3px rgb(187, 0, 255);
}

section {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
}

article {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    margin: 8px 16px;
    background-color: #ecf6ff;
    box-shadow: 0px 0px 12px black;
    /* border: 4px solid rgb(246, 255, 0);    boite de chaque article au complet*/
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}

.flex-column {
    margin: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 60%;
    justify-content: space-between;
}

.container-image {
    flex: 1;
    margin: 16px 0 16px 16px;
    border: 4px solid rgb(76, 60, 156);;
    align-items: stretch;
}

.image {
    height: 100%;
    width: 100%;
}

p {
    background-color: rgba(212, 203, 255, 0.89);
    font-family: "ProFontWindowsRegular";
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
    padding: 16px;
    flex-grow: 1;
    margin-bottom: 16px;
}

h2 {
    font-family: "MinecraftFontRegular", sans-serif;
    flex-grow: 10;
    border: 8px solid #ab7ce5;
    background-color: #8842DE;
    color: #fff;
    padding: 16px 16px 16px 48px;
    letter-spacing: 4px;
    font-size: 1.3em;
    text-shadow: 0 3px 3px rgb(208, 38, 255), -2px -2px 6px rgb(208, 158, 246);
}

.bouton {
    width: 30%;
    margin-left: 16px;
    font-family: "MinecraftFontRegular", sans-serif;
    border: 8px solid rgb(136, 66, 222);
}
.bouton a {
    font-size: 0.9em;
    letter-spacing: 2px;
    background-color: rgb(88, 32, 157);
    height: 100%;
    padding: 16px;
    display: block;
    color: #ffffff;
    text-shadow: -1px -1px 3px rgb(252, 172, 255), 1px 1px 3px rgb(247, 175, 255);
    text-align: center;
    text-decoration: none;
}

.bouton a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: rgb(255, 228, 76) 0px 0px 60px 10px;
}