@import url(general.css);

.container {
    display: flex;
    flex-direction: column;
}

p {
    border: 16px solid #ECF6FF;
    background-color: #D7D0FF;
    margin: 8px 16px;
    padding: 8px;
    text-align: justify;
    font-family: "ProFontWindowsRegular";
    font-size: 1.2em;
    text-shadow: 0px 0px 2px white;
    line-height: 120%;
    flex: 1;
}