@import url(general.css);

table {
    border-spacing: 0px;
    width: 100%;
    font-family: "MinecraftFontRegular";
    border: 8px solid #ECF6FF;
    box-shadow: 0px 0px 8px black;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    letter-spacing: 1em;
    padding: 16px;
    background-color: #f7cdff;
    margin-bottom: 16px;
    border: 16px solid #ECF6FF;
    box-shadow: 0px 0px 8px black;
}

td, th {
    border: 8px solid #ECF6FF;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ff82c2;
    color: #000000;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    line-height: 1.5em;
}

.container-table {
    margin: 16px;
    width: auto;
}

.stat {
    background-color: #978cda;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    font-weight: bold;
}

.stat-membre {
    background-color: rgb(186, 179, 255);
}
.stat-admin {
    background-color: rgb(255, 195, 247);
}