@import url(general.css);

h1 {
    color: white;
    text-shadow: 0 3px 3px rgb(208, 38, 255), -2px -2px 4px rgb(22, 0, 39);
  }
h2 {
    color: white;
    text-shadow: 0 3px 3px rgb(208, 38, 255), -2px -2px 4px rgb(22, 0, 39);
}
  
table {
    border: 2px solid rgb(0, 6, 58);
    border-spacing: 0px;
    width: 100%;
    font-family: "MinecraftFontRegular";
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    font-weight: 1.5em;
    letter-spacing: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: solid 10px rgb(170, 229, 255);
}

td, th {
    border: 2px solid rgb(0, 6, 58);
    padding: 10px;
    text-align: center;
}

th {
    background-color: #acb3e8;
    color: #000000;
    line-height: 1.5em;
}

.container-table {
    border: 8px solid rgb(0, 0, 0);
    margin: 0 auto;
    width: 90%;
}

.stat {
    background-color: rgb(255, 222, 171);
}

.stat-membre {
    background-color: rgb(230, 227, 255);
}
.stat-admin {
    background-color: rgb(255, 225, 251);
}