@import url(general.css);

.container {
    display: flex;
    width: 100%;
}

.titre-header {
    font-family: "MinecraftFontRegular";
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 6px;
    align-self: stretch;

    background-size: 100%;

    width: 20%;
    margin: 16px;
}
.titre-header h1 {
    padding-top: 10%;
    line-height: 160%;
    height: 100%;
} 

/* image avec un s !!!! */
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #D7D0FF;
    margin: 16px 16px 16px 0;
    padding: 16px;
    box-shadow: 0px 0px 12px black;
}

.image {
    background-color: #ECF6FF;
    padding: 16px;
    margin: 8px;
    flex: 1 25%;
    display: flex;
    flex-direction: column;
}
img {
    border: 4px solid #4C3C9C;
    width: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 12px rgb(181, 156, 255);
}
p {
    background-color: #D7D0FF;
    margin-top: 8px;
    padding: 8px;
    text-align: justify;
    font-family: "ProFontWindowsRegular";
    font-size: 1.1em;
    text-shadow: 0px 0px 2px white;
    line-height: 120%;
    flex: 1;
}


/* aller en haut de la page */
.container-haut-page {
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: 16px solid #D7D0FF;
    background-color: #ECF6FF;
    align-items: center;
}
a.haut-page {
    text-decoration: none;
    font-family: "MinecraftFontRegular";
    text-align: center;
    font-size: 2em;
    color: #ECF6FF;
    text-shadow: 4px 4px 0px black;
    width: 100%;
    background-image: url("../images/Purple-Wool-Block.jpg");
    background-size: 10%;
    padding: 16px;
}

a.haut-page:hover {
    transform: scale(0.99);
}